/* ---------------------------------------------------------------------- */
/*	From Medium Devices Up To Larger Devices
 /* ---------------------------------------------------------------------- */
 @media (max-width: 600px) {
    #hsls-func1 > .btn { width: 49%; margin: 0 0 5px 1% !important; }
    .hsls-func > .btn-group { min-width: 49%; }
        .hsls-func > .btn-group#btn-InMauQD { margin: 0; }
        .hsls-func > .btn-group > .btn { width: 100%; }
}

@media (min-width: 991px) {
    .shadow-hightlight { box-shadow: 1px 3px 11px 1px rgba(9, 0, 0, 0.28); -moz-box-shadow: 1px 3px 11px 1px rgba(9, 0, 0, 0.28); -webkit-box-shadow: 1px 3px 11px 1px rgba(9, 0, 0, 0.28); }
}

@media (min-width: 980px) and (max-width: 1199px) {
}
/* ---------------------------------------------------------------------- */
/*	Only larger Devices
 /* ---------------------------------------------------------------------- */
@media (min-width: 1200px) {
}

/* ---------------------------------------------------------------------- */
/*	From Small Devices Up To Medium Devices
 /* ---------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
    #CMSPopup.active { width: 90% !important; height: 90% !important; }
}
/* ---------------------------------------------------------------------- */
/*	Extra Small Devices Only
 /* ---------------------------------------------------------------------- */
@media (max-width: 530px) {
    #SlideBar .close-bar { left: auto; right: 0; border: none; }
}

@media (max-width: 520px) {
}

@media (max-width: 1200px) {
}


@media (max-width: 767px) {

    #dsNguoiDung .table-responsive { border: none !important; }
    .hsls-group .ttls-box { margin-bottom: 0; }
        .hsls-group .ttls-box .ttls-content { margin-bottom: 10px; }

    .breadcrumb { width: calc(100% + 30px) !important; margin: 0 -15px 10px -15px; }

    #SlideBar { }
        #SlideBar .header-bar { font-size: 14px; }

    .panel-default { border: none; }
    .panel-body { /*padding-top: 0;*/ }
    .panel-heading { display: none; }


    #CMSPopup.active { width: 100% !important; top: 0; height: 100% !important; }
}
/* ---------------------------------------------------------------------- */
/*	Extra Small Devices Only
 /* ---------------------------------------------------------------------- */
@media (max-width: 480px) {


    .popup-wraper .popup-group .popup-lst li .popup-label { float: none; width: auto; margin-right: 10px; }
    .popup-wraper .popup-group .popup-lst li .popup-txt { float: none; width: auto; }
    .popup-lst-m .popup-lst-m-h .popup-lst-m-h-t span:last-child { float: left; }
    .popup-wraper .popup-group .popup-lst li { padding: 5px 10px; }
}
/* ---------------------------------------------------------------------- */
/*	Up To Medium Devices
 /* ---------------------------------------------------------------------- */
@media (max-width: 990px) {

    #CMSPopup.active { width: 80%; }

    .directory-searcher { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; left: 0; margin-left: 0; width: 100%; }
        .directory-searcher > .form-field { }
            .directory-searcher > .form-field .field { float: left; /*height: 50px;*/ border-radius: 0 !important; }
                .directory-searcher > .form-field .field:nth-child(2n+1) { border-left: 1px solid #ccc !important; }
                .directory-searcher > .form-field .field:nth-child(1) { }
                .directory-searcher > .form-field .field:nth-child(2) { }
                .directory-searcher > .form-field .field:nth-child(3) { }
                .directory-searcher > .form-field .field:nth-child(4) { border: none !important; }
                .directory-searcher > .form-field .field:nth-child(2):after { display: none; }
        .directory-searcher.extra-margin { margin-bottom: 0; }
        .directory-searcher > .form-field .btn { /*height: 50px;*/ -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; width: 100%; }
        .directory-searcher > .form-field .field:first-child { padding-left: 10px !important; }
}
/* ---------------------------------------------------------------------- */
/*	Up To Medium Devices
 /* ---------------------------------------------------------------------- */
@media (min-width: 768px) {
}